@font-face {
    font-family: "pixeled";
    src: url(font.ttf);
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    font-size: 8px;
    font-family: "pixeled";
    text-transform: uppercase;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eeeeee;
}

.computer {
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.screen {
    width: 90%;
    height: 60%;
    background-color: rgb(43, 43, 43);
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 201, 99);

    display: grid;
    grid-template-rows: 1fr 24px;

    & .console {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: end;
        overflow: hidden;
    }

    & .input-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 18px 1fr;
        
        & input {
            color: rgb(255, 201, 99);
            width: 100%;
            background: none;
            border: none;
        }
        & input:focus {
            outline: none;
        }
        & span {
            padding: 0;
            margin: 0;
            width: 18px;
            height: 24px;
    
            background: url('chevron-right.svg') center center no-repeat;
            background-size: cover;
        }
    }

    & .newline {
        text-align: justify;
        width: 100%;
        height: auto;
    }

    & .break {
        width: 100%;
        height: 24px;
        display: -moz-box;
    }
}

.disk-drive {
    width: 238px;
    height: 12px;
    background-color: rgb(58, 58, 58);
    position: absolute;
    bottom: 20%;
    right: 5%;
    border-radius: 0 3px 3px 0;
}

.eject-button {
    width: 15px;
    height: 12px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    bottom: 20%;
    right: 52.5%;
    border-radius: 3px 0 0 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-lights {
    display: grid;
    grid-template-columns: 10px 10px 10px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    column-gap: 10px;
    
    & span:nth-child(1) {
        width: 10px;
        height: 10px;
        background-color: rgb(148, 255, 99);
    }

    & span:nth-child(2) {
        width: 10px;
        height: 10px;
        background-color: rgb(255, 99, 99);
    }
}